/* CSS in a separate file or component */
.custom-file-input {
    display: inline-block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  
  .file-input-button {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
  }
  
  .file-input-button span {
    flex: 1;
    text-align: center;
    padding: 5px 10px;
    user-select: none;
  }
  
  /* Style the file input text and button when hidden */
  .custom-file-input input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
  }
  .Chikki{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center; 
  }